@{
    ViewData["Title"] = "";
}
@model List<PermissionDto>

<div class="sidebar">
    <!-- 用户面板 (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image"><img src="~/images/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image"></div>
        <div class="info"><a href="#" class="d-block">@ViewBag.CurrentUser</a></div>
        <div class="info"><a href="/Account/Logout" class="d-block">退出登录</a></div>
    </div>
    <nav class="mt-2">
        <!-- 权限导航 -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            @foreach (var module in Model)
            {
                var isActive = ViewBag.CurrentMenu == module.Command;
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link @(isActive ? "active" : "")">
                        <i class="nav-icon fa fa-th-large" aria-hidden="true"></i>
                        <p>@module.Named</p>
                    </a>
                    @if (module.TypeAt == "module" && module.Childs != null)
                    {
                        <ul class="nav nav-treeview">
                            @foreach (var control in module.Childs)
                            {
                                var act = control.Childs.Find(delegate (PermissionDto p) { return p.Command == "Browse"; });
                                if (act != null)
                                {
                                    <li class="nav-item">
                                        <a href="@Url.Action(act.Command, control.Command)" class="nav-link @(isActive ? "active" : "")">
                                            <i class="fa fa-bars nav-icon" aria-hidden="true"></i>
                                            <p>@control.Named</p>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    </nav>
</div>

